/* Modelo Caixa geral + font geral */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/* Estilo das letras */
p {
    font-size: 14px;
    line-height: 20px;
}
.user {
    font-weight: 700;
}
time {
    color: #AAAAAA;
}
.comment:placeholder-shown {
    font-style: italic;
    padding-top: 10px;
    border: none;
}
/* Cor do fundo */
body {
    background-color: #F3F3F3;
}
/* Estilo da aba do topo */
header {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 21px 11px 22px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}
header ion-icon {
    font-size: 45px;
}
/* Estilo da aba escondida */
aside {
    position: fixed;
    top: 0;
    width: 100vw;
    height: calc(100vh);
    z-index: 2;
    font-family: 'Roboto', sans-serif;
}
.side {
    background-color: #00000099;
    position: fixed;
    top: 0;
    width: calc(100vw - 259px);
    height: calc(100vh);
}
section {
    background-color: #FFFFFF;
    width: 259px;
    height: 100vh;
    margin-left: calc(100vw - 259px);
    overflow-y: scroll;
}
aside ion-icon {
    font-size: 25px;
}
.check-user {
    color: #28BB25;
}
.check-privacy {
    color: #28BB25;
}
aside h1 {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding: 22px 44px;
}
aside .user {
    font-weight: 400;
    font-size: 16px;
}
article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 17px;
}
article > div {
    display: flex;
    align-items: center;
}
.hidden {
    left: 100vw;
}
.not-selected {
    display: none;
}
/* Estilo da janela de bate-papo */
main {
    margin-top: calc(106px - 0px);
}
.auto-scroll {
    margin-top: calc(106px - 0px);
}
/* Fundo dos chats */
main div {
    padding: 10px;
    margin-bottom: 4px;
}
main .notification {
    background-color: #DCDCDC;
}
main .to-everyone {
    background-color: #FFFFFF;
}
main .to-someone {
    background-color: #FFDEDE;
}
/* Estilo da aba do rodape */
footer {
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 94px; /* TALVEZ IRRELEVANTE */
    padding: 27px 18px 27px 17px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-area > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #505050;
}
footer ion-icon {
    font-size: 26px;
}
footer .comment {
    width: calc(100vw - 72px);
    height: 40px;
    border: none;
}

/* BONUS DA TELA DE ENTRADA */

.welcome {
    top: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome img {
    margin-top: 72px;
    margin-bottom: 94px;
    width: 130px;
    height: 92px;
}
.input-name {
    width: 261px;
    height: 54px;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    background-color: #FFFFFF;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
.input-name:placeholder-shown {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #AEAEAE;
    text-align: center;
}
.welcome button {
    margin-top: 15px;
    width: 109px;
    height: 45px;
    border-radius: 9px;
    background-color: #E7E7E7;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #696969;
}